<div class="container mt-5">
      <h2>Admin Login</h2>
      <form method="post" asp-action="AdminLogin">
            <div class="form-group">
                  <label for="Email">Email address</label>
                  <input name="Email" type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
                  <label for="Password">Password</label>
                  <input name="Password" type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>