@using ProniaFrontToBack.Areas.Admin.ViewModels.Product
@model ProniaFrontToBack.Areas.Admin.ViewModels.Product.UpdateProductVM

<div class="container">
      <h1>Update Product</h1>
      <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="form-group">
                  <label asp-for="Name">Name</label>
                  <input asp-for="Name" type=" text" class="form-control" placeholder="Enter Name" id="Name">
                  <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label asp-for="Description">Description</label>
                  <input asp-for="Description" type=" text" class="form-control" placeholder="Enter Description"
                        id="Description">
                  <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label asp-for="Price">Price</label>
                  <input asp-for="Price" type=" number" class="form-control" placeholder="Enter Price" id="Price">
                  <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label asp-for="CategoryIds">Example select</label>
                  <select asp-for="CategoryIds" class="form-control" multiple
                        asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                  </select>
                  <span asp-validation-for="CategoryIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label asp-for="TagIds">Example select</label>
                  <select asp-for="TagIds" class="form-control" multiple
                        asp-items="@(new SelectList(ViewBag.Tags, "Id", "Name"))">
                  </select>
                  <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <div>
                        <img src="~/Uploads/Product/@Model.OldImages.FirstOrDefault(i => i.IsPrimary)?.ImgURL"
                              alt="Primary Image" />
                  </div>
                  <label asp-for="PrimaryImage">Primary Image</label>
                  <input asp-for="PrimaryImage" type="file" class="form-control" id="PrimaryImage">
                  <span asp-validation-for="PrimaryImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <div class="d-flex">
                        @foreach (var image in Model.OldImages.Where(i => !i.IsPrimary))
                        {
                              <div class="d-flex align-items-center my-2 position-relative">
                                    <input asp-for="ImagesUrls" type="hidden" name="ImagesUrls" value="@image.ImgURL" />
                                    <img src="~/Uploads/Product/@image.ImgURL" alt="Product Image" width="100px"
                                          height="100px" />
                                    <button class="delete text-danger position-absolute" style="top: 0; right: 0;">X</button>
                              </div>
                        }
                  </div>
                  <label asp-for="Images">Images</label>
                  <input multiple="true" asp-for="Images" type="file" class="form-control" id="Images">
                  <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<script>
      var deleteBtns = document.querySelectorAll(".delete");
      deleteBtns.forEach(button => {
            button.addEventListener("click", function (e) {
                  e.preventDefault();
                  button.parentElement.remove();
            })
      })
</script>